.DS_Store
node_modules
/dist*


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.jpg
.vercel
dist/*
src/assets/day/*
src/assets/night/*
public/img/icons/*
public/img/icons_old/*
public/img/favicon_io.zip
public/img/pwa-app-icons.zip
src/composables/weatherReponse.js
*.webp
*.csv
src/assets/*/*.py
src/assets/*.py
src/assets/svg/*.svg

# temporarily ignore for now
src/assets/lottie-files/settings-sliders.json
src/assets/lottie-files/*
*.png
*.svg