:root {

  div.outer-bg {
    transition: opacity 0.5s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), filter 0.4s 0.2s ease;

    &.dissapear {
      opacity: 0;
      filter: blur(25px);
    }
  }
}

:root:has(img.icon.snow) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-3000.webp') center / cover no-repeat;
    }
  }
}

:root:has(img.icon.sunny_cloudy) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-3000.webp') center / cover no-repeat;
    }
  }
}

:root:has(img.icon.sunny) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-beach-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-beach-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-sunny-day-beach-3000.webp') center / cover no-repeat;
    }
  }
}

:root:has(img.icon.clear-night) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-clear-night-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-clear-night-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-clear-night-3000.webp') center / cover no-repeat;
    }
  }
}

:root:has(img.icon.fog) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-fog-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-fog-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-fog-3000.webp') center / cover no-repeat;
    }
  }
}

:root:has(img.icon.rain) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-rain-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-rain-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-rain-3000.webp') center / cover no-repeat;
    }
  }
}


:root:has(img.icon.hail) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-hail-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-hail-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-hail-3000.webp') center / cover no-repeat;
    }
  }
}



:root:has(img.icon.cloudy) {

  @media (min-width: 0px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-cloudy-1200.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 500px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-cloudy-2400.webp') center / cover no-repeat;
    }
  }

  @media (min-width: 1000px) {
    div.outer-bg {
      background: url('./../assets/theme-new/bg-cloudy-3000.webp') center / cover no-repeat;
    }
  }
}

div.outer-bg {
  // background-image: -webkit-image-set(url('./../assets/theme-new/bg-700.webp') 1x,
  //     url('./../assets/theme-new/bg-1200.webp') 2x,
  //     url('./../assets/theme-new/bg-2400.webp') 3x);
  // background-image: image-set(url('./../assets/theme-new/bg-700.webp') 1x,
  //     url('./../assets/theme-new/bg-1200.webp') 2x,
  //     url('./../assets/theme-new/bg-2400.webp') 3x);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  filter: blur(3px);
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  z-index: -1;
}