:root:has(#theme-new:checked) {
  div.outer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100dvh;

    div.middle {
      display: grid;
      grid-template-rows: 2fr auto 2fr;
      place-items: start center;
      place-content: start center;

      div.title {
        padding: 20px;
      }

      div.temp-summary {
        // display: grid;
        // grid-template-columns: 1fr calc(150px + 5vw) 1fr;
        display: flex;
        flex-direction: column;


        gap: calc(2px + 0.5vw);
        padding: 10px;
        place-content: center end;
        max-width: 1000px;

        // :only-child {
        //   width: 100%;
        // }
        &.temp-two {
          opacity: 0;
        }
        div.temp {
          // font-size: max(2.8rem, calc(2.3rem + 3vw));
          font-size: clamp(30px, calc(2rem + 8vw), 5rem);
          // text-align: end;
          display: grid;
          place-items: center start;
          place-content: center start;
          line-height: normal;
          // font-size: 82px;
          width: 100%;
          flex: 1;

        }

        div.location-wrapper {
          display: grid;
          grid-template-columns: 1fr auto;
        }

        div.location {
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-gap: 5px;
          place-items: end start;


          div.location-name {
            font-size: min(60px, 5vw);
            display: grid;
            place-content: end center;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: unset;
            overflow-wrap: unset;
            white-space: nowrap;

            svg text.small {
              height: 100%;
              font-weight: bold;
              font-family: inherit;
              font-size: 3rem;

            }
          }

          div.location-date {
            display: grid;
            place-content: start center;
            grid-template-columns: 1fr 2fr auto;
            gap: 5px;
            font-size: 1.1rem;
            place-content: center start;

            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: unset;
            overflow-wrap: unset;
            white-space: nowrap;
            text-align: start;
          }
        }

        div.condition {
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-gap: 5px;
          place-content: center center;
          place-items: end start;

          text-overflow: ellipsis;
          overflow: hidden;
          word-wrap: unset;
          overflow-wrap: unset;
          white-space: nowrap;

          div.cloudy {
            overflow: hidden;
            overflow-wrap: break-word;
            white-space: pre-wrap;
          }
        }

      }
    }

    div.right {
      
      display: flex;
      flex-direction: column;
      gap: 15px;
      box-sizing: border-box;
      
      width: min(370px, 40vw);
      
      height: 100vh;
      height: 100dvh;
      overflow-y: scroll;
      direction: rtl;
      
      background: linear-gradient(109.46deg, #95959544 40%, #7474741a 100%);
      backdrop-filter: blur(10px);
      color: #ffffff;
      * {
        direction: ltr;
      }


      &::-webkit-scrollbar-thumb {
        transform: rotate(180deg);
      }



      div.search-container {
        display: grid;
        grid-template-columns: 1fr 60px;
        gap: var(--dynamic-right-margin-inline);
        height: 60px;
        margin-bottom: 10px;

        input {
          /* Reset default styling */
          margin: 0;
          padding: 0;
          border: none;
          outline: none;
          background: none;
          margin-inline: var(--dynamic-right-margin-inline) 0;
          min-width: 0;

          /* Set transparent background with #f7f7f7 color */
          background-color: #f7f7f700;
          border-bottom: var(--dynamic-right-color) 1px solid;
          color: var(--dynamic-right-color);
          // opacity: 0.8;
        }

        div.search-icon {
          background: orange;
          width: 60px;
          flex: 1;
        }
      }

      div.search-results-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: var(--dynamic-right-margin-inline);
        place-items: start;
        margin-inline: var(--dynamic-right-margin-inline);
        padding-bottom: 10px;
        border-bottom: var(--dynamic-right-color) 1px solid;

      }

      div.weather-details-title {
        padding-top: 10px;
        margin-inline: var(--dynamic-right-margin-inline) 0;
        text-align: left;
      }

      div.weather-details-container {
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: var(--dynamic-right-margin-inline);
        margin-inline: var(--dynamic-right-margin-inline);

        padding-bottom: 10px;
        border-bottom: var(--dynamic-right-color) 1px solid;

        div.stats {
          display: flex;
          justify-content: space-between;
        }

      }
    }
  }

  @media (max-width: 600px) {
    div.outer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      div.middle {
        flex: 4;
        // grid-template-columns: none;
        // grid-template-rows: 1fr 1fr;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        div.title {
          text-align: center;
        }

        div.temp-summary {
          grid-template-columns: 1fr 1fr 1fr;
          padding: 0 5px;

          &.temp-one {
            opacity: 0;
          }
          &.temp-two {
            opacity: 1;
          }

          div.location {
           display: flex;
           flex-direction: column;
           align-items: center;

          }

          div.location-wrapper {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;
          }

          div.location div.location-date {
            grid-template-columns: 1fr;
            grid-template-rows: none;
            place-items: center start;
          }

          div.location div.location-name div {
            font-size: 1.4em;
            white-space: pre-wrap;
            text-align: center;
          }

          div.condition {
            grid-template-rows: none;
            place-content: center;
          }


          svg {
            width: 60%;
            margin: 0 auto;
          }

          div.temp{
            display: flex;
            flex-wrap: nowrap;
            font-size: 20vh;
            font-size: 20dvh;
            place-content: center;

            span {
              font-size: 16vh;
              font-size: 16dvh;
  
            }
          }
        }
      }

      div.bottom {
        flex: 1;
      }

      // div.spacer {
      //   display: none;
      //   visibility: hidden;
      // }
    }
  }
}