@use "@/stylesheets/dashboard/background.scss"as *;

:root:has(#theme-new:checked) {
  div.outer {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100dvh;

    background: none;
    isolation: isolate;
    color: whitesmoke;
    font-family: 'Inter';


    div.outer-bg {
      // background-image: url('@/assets/theme-new/bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: #000;
      filter: blur(3px);
      filter: brightness(0.6);

      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      height: 100dvh;
      width: 100vw;
      z-index: -1;
    }

    div.middle {
      display: grid;
      grid-template-rows: 2fr auto 2fr;
      place-items: start center;
      place-content: start center;

      // border: 1px;
      // border-radius: 5px;
      // background-color: rgb(0, 0, 0);
      // background-color: rgba(0, 0, 0, 0.25);
      // padding: var(--dynamic-right-margin-inline);

      div.title {
        padding-top: var(--dynamic-right-margin-inline);
        width: 100%;
        text-align: left;
      }

      div.temp-summary {
        // display: grid;
        // grid-template-columns: 1fr calc(150px + 5vw) 1fr;
        display: flex;
        flex-direction: column;


        gap: calc(2px + 0.5vw);
        padding: 10px;
        place-content: center end;
        max-width: 1000px;

        // :only-child {
        //   width: 100%;
        // }
        &.temp-two {
          opacity: 0;
        }

        div.temp {
          // font-size: max(2.8rem, calc(2.3rem + 3vw));
          font-size: clamp(30px, calc(2rem + 8vw), 5rem);
          // text-align: end;
          display: grid;
          place-items: center start;
          place-content: center start;
          line-height: normal;
          // font-size: 82px;
          width: 100%;
          flex: 1;

        }

        div.location-wrapper {
          display: grid;
          grid-template-columns: 1fr auto;
        }

        div.location {
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-gap: 5px;
          place-items: end start;


          div.location-name {
            font-size: min(60px, 5vw);
            display: grid;
            place-content: end center;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: unset;
            overflow-wrap: unset;
            white-space: nowrap;

            svg text.small {
              height: 100%;
              font-weight: bold;
              font-family: inherit;
              font-size: 3rem;

            }
          }

          div.location-date {
            display: grid;
            place-content: start center;
            grid-template-columns: 1fr 2fr auto;
            gap: 5px;
            font-size: 1.1rem;
            place-content: center start;

            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: unset;
            overflow-wrap: unset;
            white-space: nowrap;
            text-align: start;
          }
        }

        div.condition {
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-gap: 5px;
          place-content: center start;
          place-items: end start;

          text-overflow: ellipsis;
          overflow: hidden;
          word-wrap: unset;
          overflow-wrap: unset;
          white-space: nowrap;

          div.cloudy {
            overflow: hidden;
            overflow-wrap: break-word;
            white-space: pre-wrap;
          }
        }

      }
    }

    div.right {
      
      display: flex;
      flex-direction: column;
      gap: 15px;
      box-sizing: border-box;
      
      width: min(370px, 40vw);
      
      height: 100vh;
      height: 100dvh;
      overflow-y: scroll;
      direction: rtl;
      
      background: linear-gradient(109.46deg, #95959544 40%, #7474741a 100%);
      backdrop-filter: blur(10px);
      color: #ffffff;
      * {
        direction: ltr;
      }


      &::-webkit-scrollbar-thumb {
        transform: rotate(180deg);
      }



      div.search-container {
        display: grid;
        grid-template-columns: 1fr 60px;
        gap: var(--dynamic-right-margin-inline);
        height: 60px;
        margin-bottom: 10px;

        input {
          /* Reset default styling */
          margin: 0;
          padding: 0;
          border: none;
          outline: none;
          background: none;
          margin-inline: var(--dynamic-right-margin-inline) 0;
          min-width: 0;

          /* Set transparent background with #f7f7f7 color */
          background-color: #f7f7f700;
          border-bottom: var(--dynamic-right-color) 1px solid;
          color: var(--dynamic-right-color);
          // opacity: 0.8;
        }

        div.search-icon {
          background: orange;
          width: 60px;
          flex: 1;

          &:is(:hover, :focus) {
            filter: brightness(90%);
            cursor: pointer;
          }
        }
      }

      div.search-results-container {
        display: none;
        grid-template-rows: repeat(4, 1fr);
        gap: var(--dynamic-right-margin-inline);
        place-items: start;
        margin-inline: var(--dynamic-right-margin-inline);
        padding-bottom: 10px;
        border-bottom: var(--dynamic-right-color) 1px solid;
        // transition: max-height 1s ease-in-out, min-height 1s ease-in-out, overflow-y 2s;
        // max-height: 10px;
        height: 100%;
        max-height: 20px;
        overflow-y: hidden;

        &.searching {
          // max-height: 250px;
          // min-height: fit-content;
          // min-height: -moz-fit-content;
          // overflow-y: initial;
          animation: change-max-height 1s;
          max-height: 230px;
          height: 100%;
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          // overflow-y: initial;

        }

        &.go-away {
          // max-height: 250px;
          // min-height: fit-content;
          // min-height: -moz-fit-content;
          // display: grid;
          // overflow-y: initial;
          animation: change-min-height 1s;
        }

      }

      div.weather-details-title {
        padding-top: 10px;
        margin-inline: var(--dynamic-right-margin-inline) 0;
        text-align: left;
      }

      div.weather-details-container {
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: var(--dynamic-right-margin-inline);
        margin-inline: var(--dynamic-right-margin-inline);

        padding-bottom: 10px;
        border-bottom: var(--dynamic-right-color) 1px solid;

        div.stats {
          display: flex;
          justify-content: space-between;
        }

      }
    }
  }

  @media (max-width: 600px) {
    div.outer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      div.middle {
        flex: 4;
        // grid-template-columns: none;
        // grid-template-rows: 1fr 1fr;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        div.title {
          text-align: center;
        }

        div.temp-summary {
          grid-template-columns: 1fr 1fr 1fr;
          padding: 0 5px;

          &.temp-one {
            opacity: 0;
          }

          &.temp-two {
            opacity: 1;
          }

          div.location {
            display: flex;
            flex-direction: column;
            align-items: center;

          }

          div.location-wrapper {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;
          }

          div.location div.location-date {
            grid-template-columns: 1fr;
            grid-template-rows: none;
            place-items: center start;
          }

          div.location div.location-name div {
            font-size: 1.4em;
            white-space: pre-wrap;
            text-align: center;
          }

          div.condition {
            grid-template-rows: none;
            place-content: center;
          }


          svg {
            width: 60%;
            margin: 0 auto;
          }

          div.temp {
            display: flex;
            flex-wrap: nowrap;
            font-size: 20vh;
            font-size: 20dvh;
            place-content: center;

            span {
              font-size: 16vh;
              font-size: 16dvh;

            }
          }
        }
      }



      div.bottom {
        flex: 1;
      }

      // div.spacer {
      //   display: none;
      //   visibility: hidden;
      // }
    }
  }
}