@media (max-width: 600px) {
  div.condition div.placeholder {
    min-height: 80px;
    min-width: 80px;
  }

  div.location-name div.placeholder {
    min-height: 18px;
    min-width: 160px;
  }

  div.cloudy:has(.placeholder) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.cloudy div.placeholder {
    min-height: 18px;
    min-width: 80px;
  }

  div.temp div.placeholder {
    min-height: 115px;
    min-width: 180px;
  }

  div.forecast div.placeholder {
    min-height: 105px;
    min-width: 120px;
  }
}