.menu-body {
  width: 100%;

  &>* {
    width: 80%;
  }

  div.lottie-wrapper {
    width: 100%;
    background: #0071;

  }

  .lottie-animation-container {
    width: min(100%, 120px);
    aspect-ratio: 1;
  }

  fieldset {
    display: flex;
    gap: 15px;
    border: none;
    padding: 0;
    align-items: center;

    legend {
      float: left;
    }

    div.info {
      border-radius: 100px;
      border: rgba(0, 0, 119, 0.5) 2px solid;
      padding: 3px;
      aspect-ratio: 1;
      min-height: 19px;
      display: grid;
      place-content: center;

    }
  }

  .menu-sections {
    display: flex;
    gap: 15px;

    .selected {
      border-bottom: rgb(44, 62, 80) 1px solid;
    }
  }

  .section {
    display: grid;
    grid-gap: 20px;
    place-items: center start;

    p {
      text-align: left;
    }

    div:has(h2) {
      text-align: left;
      display: flex;
      gap: 15px;
      flex-direction: column;
    }

    div.wrapper {
      display: grid;
      grid-template-columns: auto auto;
      gap: 50px;

      @media (max-width: 600px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin-bottom: 10px;
      }

      .theme-one {
        margin-left: 20px;
      }
    }
  }

  .menu {
    overflow-y: auto;
  }


}

:root:has(#theme-old:checked) {
  .menu-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    display: grid;
    place-items: center;
    background: #2c3e5000;

    .menu {
      background: white;
      border: solid black;
      margin: 0 auto;

      height: 80vh;
      width: 80vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: auto;


      .menu-body {
        max-width: 80%;
        display: grid;
        grid-gap: 20px;
        place-items: center;

        .input-switch {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          align-items: center
        }
      }
    }
  }

  nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: var(--app-text-color);

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  .toast-bg {
    width: 100%;
    position: fixed;
    top: 50px;

    .toast {
      background: white;
      border-radius: 7px;
      margin: 0 auto;
      padding: 5px;
      width: 80%;
      max-width: 700px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

:root:has(#theme-new:checked) {
  .menu-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    display: grid;
    place-items: center;
    background: rgba(44, 62, 80, 0.6);
    backdrop-filter: blur(30px);

    animation: blur-in 0.5s;

    @keyframes blur-in {
      0% {
        background-color: rgba(44, 62, 80, 0);
        backdrop-filter: blur(0);
      }

      70% {
        background-color: rgba(44, 62, 80, 0.5);
        backdrop-filter: blur(29px);
      }

      100% {
        background-color: rgba(44, 62, 80, 0.6);
        backdrop-filter: blur(30px);
      }
    }

    .menu {
      background: #f1f1f1;
      border: solid black;
      margin: 0 auto;

      height: 80vh;
      width: 80vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: auto;


      .menu-body {
        // max-width: 80%;
        display: grid;
        grid-gap: 20px;
        place-items: center;

        .lottie-animation-container {
          width: min(100%, 120px);
          aspect-ratio: 1;
        }

        .input-switch {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          align-items: center
        }
      }
    }
  }

  nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: var(--app-text-color);

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  .toast-bg {
    width: 100%;
    position: fixed;
    top: 50px;

    .toast {
      background: white;
      border-radius: 7px;
      margin: 0 auto;
      padding: 5px;
      width: 80%;
      max-width: 700px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}